* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
/* Web font */
@font-face {
    font-family: Webfont_nav;
    src: url(Oswald-Bold.ttf);

}
@font-face {
font-family: Webfont_heading;
src: url(Oswald-Medium.ttf);
}
@font-face {
font-family: Webfont_para;
src: url(Oswald-Light.ttf);
}

a {
    font-family: Webfont_nav;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Webfont_heading;
}
/* body,html color */
body {
    background-color: #5CDB95;
    margin: 0px;}


/* NAV CSS */
nav ul {
    list-style-type: none;
    margin: 0px;
    position:static;
    padding: 0;
    overflow: hidden;
    background-color: #5CDB95;
}
nav ul li {
    float: left;
}
nav{
    border-bottom:solid black 1px;
    position: fixed;
    width: 100%
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
nav ul li a:hover:not(.active) {background-color: #111;}
nav ul li a.active {background-color: #04AA6D;}

@media screen and (max-width: 600px) { 
    nav ul li {float: none;}
  }
/* Section */
.section {
    width: 100%;
    height: 100vh
}
/* Section 1 */
#home_section{
    background-color: beige;
    display: flex;
    flex-direction: row;
}
#home_div1 {
    text-align: center;
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#home_div2 {
    background-color: blue;
    width: 50%
}
